In [123]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

l.sort(key = lambda x : x[1])
print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [112]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def sq(l):
    return l**2

In [113]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
list(map(lambda a : a**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [115]:
"""Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')"""

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def tup(li):
    return str(li)

In [116]:
tuple(map(tup,li))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [117]:
tuple(map(lambda a : str(a), li))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [118]:
#Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

from functools import reduce

reduce(lambda a , b : a*b , range(1,25))

620448401733239439360000

In [132]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda a : a%2==0 and a%3==0 , l))

[6, 60, 90, 120]

In [129]:
#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
str_l = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x == x[::-1], str_l))

['php', 'aba', 'radar', 'level']